.chart {
    /*padding: 1em 1em 1em 2em;*/
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chart-label {
    font-size: 0.8em;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}

.savebutton {
    background-color: #4CAF50; /* Green */
}

.clearbutton {
    background-color: #FF6655; /* red */

}

.canvas-container {
    display: flex;
    flex-direction: row;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

/* The container must be positioned relative: */
.custom-select {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 50%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
}

.legend-container {
    margin-left: 36em;
}

.key-legend {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 1em;
    margin-top: 1em;
    padding: 1em;
}
