.dashboard {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.right-now-container {
  width: 95%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0.5em;
}
